.whiteBack   /*changes background to white*/
{
    background:white;
}

body{    /*body is red because I love red*/
background:red;
}

.makeMe20   /*adjust size for it*/
{
    height:20px;
    width:20px;
}